.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
}

.about__content {
  background-color: var(--lavender);
  max-width: 1280px;
  gap: 200px;
  padding: 75px;
  box-sizing: border-box;
  display: flex;
}

.about__item {}

.about__label {
  color: var(--black);
}

.about__title {
  width: 480px;
}

.about__title--small {
  max-width: 450px;
  width: 500px;
}

.about__text {
  max-width: 500px;
  line-height: 170%;
}

.about__link {
  color: var(--purple);
}

.about__lines {
  /* max-width: 1461px; */
  width: 1350px;
  display: flex;
}

.about__white-line {
  background-color: var(--light);
  width: 194px;
  height: 23px;
}

.about__yellow-line {
  background-color: var(--yellow);
  width: 889px;
  height: 23px;
}

.about__purple-line {
  width: 282px;
  height: 23px;
  background-color: var(--purple);
}

@media (max-width: 768px) {
  .about {
    min-width: auto;
    /* убираем принудительную ширину */
    padding: 0 16px;
  }

  .about__content {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
    max-width: 100%;
  }

  .about__title,
  .about__title--small,
  .about__text {
    width: 100%;
    max-width: 100%;
  }

  .about__lines {
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
  }

  .about__white-line,
  .about__yellow-line,
  .about__purple-line {
    width: auto;
    flex: 1;
    min-width: 30%;
    height: 12px;
  }
}