.authors {}

.authors__title {
  text-align: center;
}

.authors__list {
  display: flex;
}

.author {
  border: 2px solid var(--light-grey);
  margin: 25px;
  padding-top: 50px;
  padding: 20px;
}

.author--theme_yellow {
  border: 0 solid var(--light-grey);
  background-color: var(--yellow);
}

.author__icon-image-house {
  position: absolute;
  margin-left: -46px;
}

.author__icon-image {}

.author__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.author__svg-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
}

.author__title {
  line-height: 0px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--black);
}

.author__description {
  max-width: 600px;
  text-align: center;
  line-height: 10px
}

@media (max-width: 768px) {
  .authors__list {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }

  .author {
    width: 100%;
    max-width: 100%;
    margin: 16px 0;
    padding: 20px;
    position: relative;
  }

  .author__icon-image-house {
    position: static;
    margin: 0 0 12px 0;
  }

  .author__description {
    max-width: 100%;
  }

  .author__title {
    line-height: 1.4;
  }

  .author__description {
    line-height: 1.5;
  }
}