 .companys {
   /* стили блока */
 }

 .companys__list {
   display: flex;
   flex-direction: row;
   gap: 100px;
   justify-content: center;
   align-items: center;
 }

 .companys__text-list {
   white-space: nowrap;


 }

 .companys__text--small {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 143%;
   color: var(--medium-grey);
 }

 .companys__text {
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 24px;

   line-height: 133%;
   color: var(--medium-grey);
 }

 .companys__logo {
   /* стили для логотипа компании */
 }