.footer {
  background-color: var(--black-blue);
  /* padding: 60px 0 40px; */
}

.footer__container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  */
.footer__logo svg {
  display: block;
}

.footer__nav {
  display: flex;
  gap: 25px;
  font-family: sans-serif;
  font-weight: 400;
}

.footer__nav-link {
  color: #fff;
  text-decoration: none;
}

.footer__subscribe {
  background-color: var(--black-lighter-blue);
  display: flex;
  align-items: center;
  padding: 75px;
  gap: 50px;
}

.footer__subscribe-title {
  color: #fff;
  width: 600px;
  margin: 0;
  line-height: 1.4;
}

.footer__subscribe-input {
  padding: 12px 16px;
  background-color: var(--black-lighter-blue);
  color: #fff;
  border: 1px solid var(--medium-grey);
  border-radius: 0px;
  font-size: 16px;
  outline: none;

  &::placeholder {
    color: #fff;
    opacity: 0.7;
  }

  &:focus {
    border-color: #fff;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  }
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  line-height: 0;
  align-items: center;
  justify-content: space-between;
}


.footer__contacts-text {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

.footer__social {
  display: flex;
  gap: 25px;
}

.footer__support {
  line-height: 30px;
  min-width: 670px;

}

.footer__support-text {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

.footer__down-panel {
  display: flex;
  gap: 490px;
  align-items: flex-start;
}


@media (max-width: 768px) {
  .footer__container {
    padding: 40px 16px;
    gap: 40px;
  }

  .footer__brand {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer__nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .footer__subscribe {
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
  }

  .footer__subscribe-title,
  .footer__subscribe-input {
    /* width: 100%; */
    max-width: 100%;
  }

  .footer__subscribe-form {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .footer__contacts {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer__support {
    min-width: auto;
    text-align: center;
  }

  .footer__down-panel {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}