.header {
  background-color: #232536;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100%;

}

.header__left {}

.header__right {
  display: flex;
  align-items: center;
  gap: 50px;

}

.header__navigation {
  font-size: 1rem;
  font-family: sans-serif;

}

.header__link {
  color: #fff;
}

.header__nav {
  white-space: nowrap;
  gap: 30px;
  font-family: sans-serif;
  font-weight: 400;
}