.header {
  background-color: #232536;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 80px;
}

.header__left {
  margin-left: 75px;
}

.header__right {
  flex-grow: 1;

}

.header__navigation {
  font-size: 1rem;
  margin-left: 700px;
  padding-right: 50px;
  gap: 50px;
  font-family: sans-serif;
}

.header__link {
  color: #fff;
}

.header__nav {
  gap: 30px;
  margin-left: 700px;
}