.header {
  background-color: var(--black-blue);
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100%;
}

.header__left {
}

.header__right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__navigation {
  font-size: 1rem;
  font-family: sans-serif;
}

.header__link {
  color: #fff;
}

.header__nav {
  white-space: nowrap;
  gap: 30px;
  font-family: sans-serif;
  font-weight: 400;
}

@media (width <= 768px) {
  .header {
    padding: 10px 16px;
  }

  .header__content {
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;
  }

  .header__right {
    gap: 16px;
    flex-direction: column;
  }

  .header__nav {
    gap: 16px;
    white-space: normal;
    font-size: 0.9rem;
  }
}
