.hero {
  background-size: 100% 100%;
  height: 720px;
  width: 100%;
  background-image: url(/Images/Мужчина_с_компьютером.png);
  background-repeat: no-repeat;

}

.hero__content {
  color: #fff;
  padding-top: 50px;
}

.hero__meta {
  color: #fff;
}

.hero__category {
  color: #fff;
}

.hero__title {
  color: #fff;
  max-width: 800px;
}

.hero__author {
  color: #fff;
}

.hero__author-name {
  color: #ffd050;

}

.hero__description {
  color: #fff;
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    min-height: 400px;
    background-size: cover;
    background-position: center;
  }

  .hero__title {
    max-width: 100%;
    font-size: 1.8rem;
  }

  .hero__content,
  .hero__description {
    padding: 0;
    font-size: 0.95rem;
    padding: 8%;
  }
}