.hero {

  background-size: 100% 100%;
  height: 720px;
  width: 1550px;
  background-image: url(/Images/Мужчина_с_компьютером.png);
  background-repeat: no-repeat;



}

.hero__content {
  padding-left: 75px;
  padding-top: 75px;
  color: var(--light)
}

.hero__meta {
  color: var(--light)
}

.hero__category {
  color: var(--light)
}

.hero__title {
  color: var(--light)
}

.hero__author {
  color: var(--light)
}

.hero__author-name {
  color: var(--yellow);
}

.hero__description {
  color: var(--light)
}