.hero {
  background-size: 100% 100%;
  height: 720px;
  width: 100%;
  background-image: url(/Images/Мужчина_с_компьютером.png);
  background-repeat: no-repeat;

}

.hero__content {
  padding-left: 75px;
  padding-top: 75px;
  color: #fff;
}

.hero__meta {
  color: #fff;
}

.hero__category {
  color: #fff;
}

.hero__title {
  color: #fff;
}

.hero__author {
  color: #fff;
}

.hero__author-name {
  color: #ffd050;

}

.hero__description {
  color: #fff;
}