.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.join__main-text {
  line-height: 40px;
  max-width: 430px;
  text-align: center;
  margin: 0px;
}

.join__description {
  max-width: 390px;
  text-align: center
}