.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.join__main-text {
  line-height: 40px;
  max-width: 430px;
  text-align: center;
  margin: 0;
}

.join__description {
  max-width: 390px;
  text-align: center;
}

@media (width <= 768px) {
  .join {
    padding: 0 16px 40px;
  }

  .join__main-text,
  .join__description {
    max-width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .join__main-text {
    line-height: 1.6;
  }
}
