:root {
  --black: #232536;
  --yellow: #ffd050;
  --dark-grey: #4c4c4c;
  --medium-grey: #6d6e76;
  --purple: #592ea9;
  --light: #fff;
  --light-yellow: #fbf6ea;
  --light-grey: #f4f4f4;
  --lavender: #f4f0f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #fff;
    --yellow: #4c4c4c;
    --dark-grey: #4c4c4c;
    --medium-grey: #f4f4f4;
    --purple: #fff;
    --light: #232536;
    --lavender: #4c4c4c;
  }
}

/* body {
	margin: 0 auto;
	max-width: 1550px;
} */

/* .title {
	color: var(--light);
	padding-left: 70px;

}

.colored {
	display: flex;
	align-items: center;
	height: 5rem;
	background-color: var(--black);
	justify-content: center;
}

.upper_link {
	padding-left: 20px;
}

.upper_block {
	padding-left: 550px;
}

.img_mujic {
	background-size: 100% 100%;
	height: 720px;
	width: 1550px;
	background-image: url(/Images/Тёмный_Мужук_Сидит.png);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
}

.mujic_text {
	padding-left: 8%;
	padding-top: 100px;
}

.startup_mujic_text {}

.name_basic_text {
	padding-top: 5%;
	padding-bottom: 5%;
}

.name_mujic_text {
	color: var(--yellow);
}


.big_mujic_text {
	padding-top: 0%;
	line-height: 100%;
	color: var(--light);
}

/* Второй блок */

/* .second_block {
	display: flex;
	flex-direction: row;
	padding-top: 100px;
	background-color: var(--light);
	height: 1000px;
}

.second_block_title {
	padding-top: 100px;
	background-color: var(--light);
	height: 150px;
	gap: 400px;
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	line-height: 100%;
	color: var(--black);
}

.second_left_block {
	border: 1px solid var(--medium-grey);
	max-height: 750px;
	margin-left: 50px;
}

.second_block_big_text {
	display: flex;
	flex-direction: row;
	padding-left: 75px;
	line-height: 100%;
	color: var(--black);
}

.left_second_block_image {
	width: 800px;
	height: 400px;
	padding-left: 50px;
	padding-top: 50px;
}

.name_basic_black_text {
	padding-top: 30px;
	padding-left: 50px;
	color: var(--dark-grey);
}

.home_author_name_text {
	color: var(--purple);
}

.house_article_name {
	padding-top: 20px;
	max-width: 850px;
	padding-left: 50px;
	line-height: 100%;
	color: var(--black);
}

.mini_house_text {
	color: var(--medium-grey);
	padding-top: 20px;
	padding-left: 50px;
	max-width: 630px;
}


.second_right_block {}

.second_article_text {
	background-color: var();
	padding-top: 20px;
	max-width: 400px;
	padding-left: 50px;
	line-height: 100%;
	color: var(--black);
	line-height: 30px;

} */

/* Третий блок */

/* .third_block {
	background-color: var(--light);
	width: 1550px;
	height: 680px;
}


.third_up_colored {
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 1555px;
}

.white_colored {
	background-color: var(--dark-grey);
	color: var(--black);
	height: 30px;
	width: 250px;
	margin-left: 100px;
}

.yelow_colored {
	background-color: var(--yellow);
	height: 30px;
	width: 800px;
}

.purple_colored {
	background-color: var(--purple);
	height: 30px;
	width: 300px;
}


.third_colored {
	display: flex;
	flex-direction: row;
	background-color: var(--lavender);
	margin-left: 100px;
	height: 500px;
	width: 1350px;

}

.thizd_zagolovok {
	color: var(--black);
}

.third_left_block {
	padding-top: 75px;
	padding-left: 75px;
	color: var(--black);
}

.third_right_block {
	padding-top: 75px;
	padding-left: 75px;
	color: var(--black);
}

.third_mini_text {
	color: var(--medium-grey);
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 505px;

}

.third_read_more_link {
	color: var(--purple);
	width: 20%;
	height: 15%;
}

.third_left_article_name {
	padding-top: 20px;
	max-width: 530px;
	line-height: 100%;
	color: var(--black);
}

.third_right_article_name {
	padding-top: 20px;
	max-width: 500px;
	line-height: 100%;
	color: var(--black);
} */

/*четвёртый блок*/
/* .fourth_block {

	background-color: var(--light);
	width: 1550px;
	height: 720px;
}

.choose_a_catagory_text {
	display: flex;
	justify-content: center;
	color: var(--black);
}


.fourth_boxes {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	width: 1550px;
	height: 720px;
	margin-left: 60px;
}

.white_box {
	border: 1px solid var(--medium-grey);
	padding-left: 50px;
	padding-top: 25px;
	margin-left: 50px;
	background-color: var(--light);
	width: 296px;
	height: 228px;
}

.yellow_box {
	padding-left: 50px;
	padding-top: 25px;
	margin-left: 50px;
	background-color: var(--yellow);
	width: 296px;
	height: 228px;
}

.icon {
	width: 50px;
	height: 50px;
} */

/*Пятый блок*/
/* .fifth_block {
	width: 500px;
	height: 500px;
	background-color: var(--light);
	height: 720px;
	width: 1550px;
	position: relative;

}

.fifth_image {
	position: absolute;
	margin-left: 100px;
	width: 949px;
	height: 705px;
}

.fifth_white_block {
	position: absolute;
	width: 706px;
	padding-left: 50px;
	padding-top: 50px;
	height: 584px;
	margin-left: 800px;
	margin-top: 121px;
	background-color: var(--light);
}


.fifth_big_text {
	padding-top: 20px;
	max-width: 430px;
	color: var(--black);
}

*/