/* @import './styles/global/media.css';
@import './styles/colors/colors.css';
@import './styles/normalize.css';
@import './styles/global/utility.css';
@import './styles/components/container.css'; */

@import 'vars/colors';
@import 'vars/fonts';
@import 'components/header';
@import 'components/button';
@import 'base/base';
@import 'components/hero';
@import 'components/posts';
@import 'components/about';
@import 'components/categories';
@import 'components/story';
@import 'components/container';
@import 'components/authors';
@import 'components/companys';
@import 'components/comments';
@import 'components/join';
@import 'components/footer';