.button {
  padding: 16px 48px;
  height: 56px;
  font-size: 18px;
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black);
  border: 1px solid var(--black);
}

.button-theme__yellow {
  background-color: var(--yellow);
}

.button-theme__white {
  background-color: var(--light);
}

/* .read_more_button {
  margin-top: 5%;
  color: var(--black);
  background-color: var(--yellow);
  width: 20%;
  height: 15%;
}

.second_button {
  color: var(--black);
  font-family: 'Sen', sans-serif;
  background-color: var(--yellow);
  margin-left: 50px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.fifth_button {
  color: var(--black);
  font-family: 'Sen', sans-serif;
  background-color: var(--yellow);
  margin-top: 20px;
  width: 200px;
  height: 50px;
} */
