.categories {
  padding: 0% 10%;
}

.categories__title {
  text-align: center;
}

.categories__list {
  display: flex;
}

.category {
  border: 2px solid var(--light-grey);
  margin: 25px;
  padding: 20px;
}

.category--theme_yellow {
  border: 0 solid var(--light-grey);
  background-color: var(--yellow);
}

.category__icon-image-house {
  position: absolute;
  margin-left: -46px;
}

.category__icon-image {
  position: absolute;
  margin-left: -35px;
  margin-top: 12px;
}

.category__icon {
}

.category__title {
}

.category__description {
  max-width: 500px;
}

@media (width <= 768px) {
  .categories__list {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }

  .category {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
  }

  /* Сбрасываем absolute-позиционирование на мобильных
  .category__icon-image-house,
  .category__icon-image {
    /* position: static;
    margin: 0 0 12px 0;
    display: block;
  }  */

  .category__description {
    max-width: 100%;
  }
}
