.story {
  display: flex;
}

.story__image {
  padding: 75px;
  width: 949px;
  height: 705px;
}

.story__content {
  background-color: var(--light);
  position: absolute;
  margin-left: 650px;
  margin-top: 200px;
  padding: 75px 75px 100px;
  max-width: 706px;
}

.story__label {
  color: var(--black);
}

.story__title {
  max-width: 390px;
  line-height: 150%;
}

.story__text {
  max-width: 590px;
}

@media (width <= 768px) {
  .story {
    flex-direction: column;
    position: relative;

    /* чтобы absolute не слетал */
    padding: 0 16px;
  }

  .story__image {
    width: 0%;
    height: auto;
    padding: 0;
    order: 2;

    /* изображение под текстом */
  }

  .story__content {
    position: static;

    /* отменяем absolute */
    margin: 0 0 40px;
    padding: 30px 20px;
    max-width: 100%;
    order: 1;
  }

  .story__title,
  .story__text {
    max-width: 100%;
  }
}
